<f:switch expression="{offering}">
	<f:case value="0">
        <svg class="icon-md" width="32" height="32" fill="blue" style="cursor:context-menu;" title="Unbekannt, ob vorhanden"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg> Unbekannt, ob vorhanden
	</f:case>
	<f:case value="1">
        <svg class="icon-md" width="32" height="32" fill="Red" style="cursor:context-menu;" title="Nicht vorhanden"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg> Nicht vorhanden
	</f:case>
	<f:case value="2">
        <svg class="icon-md" width="32" height="32" fill="DarkGreen" style="cursor:context-menu;" title="Liedtext vorhanden"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg> Liedtext vorhanden
	</f:case>
	<f:case value="3">
        <svg class="icon-md" width="32" height="32" fill="DarkGreen" style="cursor:context-menu;" title="Liedtext und Akkorde vorhanden"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg> Liedtext und Akkorde vorhanden
	</f:case>
	<f:case value="4">
        <svg class="icon-md" width="32" height="32" fill="DarkGreen" style="cursor:context-menu;" title="Liedtext, Akkorde und Noten vorhanden"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg> Liedtext, Akkorde und Noten vorhanden
	</f:case>
</f:switch>
