<f:spaceless>
<f:switch expression="{lang}">
	<f:case value="1">
		<f:image src="EXT:fku_songs/Resources/Public/flag_de.svg" class="icon-sm" alt="Deutsch" additionalAttributes="{title:'Deutsch'}" />
	</f:case>
	<f:case value="2">
		<f:image src="EXT:fku_songs/Resources/Public/flag_ch.svg" class="icon-sm" alt="Schweizerdeutsch" additionalAttributes="{title:'Schweizerdeutsch'}" />
	</f:case>
	<f:case value="3">
		<f:image src="EXT:fku_songs/Resources/Public/flag_en.svg" class="icon-sm" alt="Englisch" additionalAttributes="{title:'Englisch'}" />
	</f:case>
	<f:case value="9">
		<f:image src="EXT:fku_songs/Resources/Public/flag_xx.svg" class="icon-sm" alt="andere Sprache" additionalAttributes="{title:'andere Sprache'}" />
	</f:case>
	<f:defaultCase>?</f:defaultCase>
</f:switch>
</f:spaceless>