<f:if condition="{popularity} > 0.6">
	<f:then>
    	<span title="5 von 5 Sternen">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        </span>
    </f:then>
    <f:else if="{popularity} > 0.5">
    	<span title="4 von 5 Sternen">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        </span>
   	</f:else>
    <f:else if="{popularity} > 0.3">
    	<span title="3 von 5 Sternen">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        </span>
   	</f:else>
    <f:else if="{popularity} > 0.15">
    	<span title="2 von 5 Sternen">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        </span>
   	</f:else>
    <f:else if="{popularity} > 0">
    	<span title="1 von 5 Sternen">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-49-star.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        </span>
    </f:else>
    <f:else>
    	<span title="0 von 5 Sternen">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-50-star-empty.svg#glyphicons-basic"/></svg>
        </span>
    </f:else>
</f:if>
