<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<h2>Lied-Informationen ändern</h2>

<f:flashMessages as="flashMessages">
	<f:render partial="Alert" arguments="{flashMessages:flashMessages}" />
</f:flashMessages>

<f:render partial="FormErrors" arguments="{object:Song}" />

<f:form action="update" name="song" object="{song}">
	<f:render partial="Song/FormFields" arguments="{song:song,sourceArray:sourceArray,keywords:keywords}" />
	<br />
	<f:link.action action="show" arguments="{song:song}" class="btn btn-outline-dark">Abbrechen</f:link.action>&nbsp;
	<input type="reset" value="Zurücksetzen" class="btn btn-outline-dark" />&nbsp;
	<f:form.submit value="Speichern" class="btn btn-primary" />
</f:form>
</f:section>
</html>