{namespace sv=FKU\FkuSongs\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">

<ul class="nav nav-pills mb-3">
    <li class="nav-item">
    	<f:link.action action="keyword" class="nav-link">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-67-tags.svg#glyphicons-basic"/></svg> Suche nach Stichwörtern
        </f:link.action>
    </li>
    <li class="nav-item">
    	<f:link.page pageUid="{settings.chartsPid}" class="nav-link">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-42-stats-bars.svg#glyphicons-basic"/></svg> Häufige Lieder
        </f:link.page>
    </li>
    <li class="nav-item">
    	<f:link.action action="toc" class="nav-link">
        	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-952-list-numbers.svg#glyphicons-basic"/></svg> Inhaltsverzeichnis
        </f:link.action>
    </li>
	<f:security.ifHasRole role="Musik-Admin">
    	<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-137-cogwheel.svg#glyphicons-basic"/></svg> Musik-Admin</a>
            <div class="dropdown-menu">
                <f:link.page pageUid="{settings.reportingPid}" class="dropdown-item">
                	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-306-square-empty-play.svg#glyphicons-basic"/></svg> Pro Gottesdienst
                </f:link.page>
                <f:link.page pageUid="{settings.statisticsPid}" class="dropdown-item">
                	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-670-dashboard.svg#glyphicons-basic"/></svg> Statistiken
                </f:link.page>
                <f:link.action action="new" class="dropdown-item">
                	<svg class="icon-md" width="32" height="32" fill="currentColor"><use xlink:href="fileadmin/icon/glyphicons-basic-371-plus.svg#glyphicons-basic"/></svg> Lied hinzufügen
                </f:link.action>
            </div>
        </li>
	</f:security.ifHasRole>
</ul>

<h3>Suchformular</h3>

<f:flashMessages as="flashMessages">
	<f:render partial="Alert" arguments="{flashMessages:flashMessages}" />
</f:flashMessages>

<f:spaceless>
	<f:render partial="Song/SearchForm" arguments="{filter:filter,filterGottesdienst:filterGottesdienst,filterHighwaeg:filterHighwaeg,predefOptions:predefOptions,sources:sources,action:'list'}" />
    <br />
	
	<f:if condition="{songs}">
		<f:then>
			<h3>Suchresultat: <f:if condition="{total}==1"><f:then>1 Lied</f:then><f:else>{total} Lieder</f:else></f:if></h3>
			<f:if condition="{page.total}>1">
				<f:render partial="Song/Pagination" arguments="{page:page,pagearray:pagearray,filter:filter,action:'list'}" />
			</f:if>
	
			<f:render partial="Song/Table" arguments="{songs:songs,filter:filter}" />
	
			<f:if condition="{page.total}>1">
				<f:render partial="Song/Pagination" arguments="{page:page,pagearray:pagearray,filter:filter,action:'list'}" />
			</f:if>
	
		</f:then>
		<f:else>
			<br />
			<f:render partial="Alert" arguments="{flashMessages:{0:{severity:'-1',title:'',message:'Keine Lieder gefunden'}}}" />
		</f:else>
	</f:if>
</f:spaceless>

</f:section>