<f:switch expression="{status}">
	<f:case value="0">
    	<span style="cursor:context-menu;" title="Liedmeldung offen">
        	<svg class="icon-md" width="32" height="32" fill="blue"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg>
            offen
		</span>
	</f:case>
	<f:case value="1">
    	<span style="cursor:context-menu;" title="Lied nicht gezeigt">
        	<svg class="icon-md" width="32" height="32" fill="Silver"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg>
            Lied nicht gezeigt
		</span>
	</f:case>
	<f:case value="2">
    	<span style="cursor:context-menu;" title="Liedmeldung nicht möglich">
        	<svg class="icon-md" width="32" height="32" fill="Red"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg>
            nicht möglich
		</span>
	</f:case>
	<f:case value="3">
    	<span style="cursor:context-menu;" title="Liedmeldung nicht nötig (Public Domain)">
        	<svg class="icon-md" width="32" height="32" fill="DarkGreen"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg>
            nicht nötig (Public Domain)
		</span>
	</f:case>
	<f:case value="4">
    	<span style="cursor:context-menu;" title="Liedmeldung nicht nötig (FKU-eigen)">
        	<svg class="icon-md" width="32" height="32" fill="DarkGreen"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg>
            nicht nötig (FKU-eigen)
		</span>
	</f:case>
	<f:case value="5">
    	<span style="cursor:context-menu;" title="Liedmeldung erledigt">
        	<svg class="icon-md" width="32" height="32" fill="DarkGreen"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg>
            erledigt
		</span>
	</f:case>
	<f:case value="6">
    	<span style="cursor:context-menu;" title="Anderswo gekauft">
        	<svg class="icon-md" width="32" height="32" fill="DarkGreen"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg>
            anderswo gekauft
		</span>
	</f:case>
	<f:case value="7">
    	<span style="cursor:context-menu;" title="Liedmeldung nicht nötig (freie Verwendung)">
        	<svg class="icon-md" width="32" height="32" fill="DarkGreen"><use xlink:href="fileadmin/icon/glyphicons-basic-176-stop.svg#glyphicons-basic"/></svg>
            nicht nötig (freie Verwendung)
		</span>
	</f:case>
</f:switch>
